{% extends "layout.html" %}

{% block title %}
    Location
{% endblock %}

{% block body %}
    <h1>Location Details</h1>

    <table class="table table-striped">
        <thead>
            <th scope="col">Location</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Population</th>
            <th scope="col">Check-ins</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ location.city.title() }}, {{ location.state }} {{ location.zip_code }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>{{ location.population }}</td>
                <td>{{ check_ins|length }}</td>
            </tr>
        </tbody>
    </table>

    {% if check_ins %}
    <h1>Check-Ins</h1>

    <table class="table table-striped">
        <thead>
            <th scope="col">User</th>
            <th scope="col">Comment</th>
        </thead>
        <tbody>
            {% for check_in in check_ins %}
            <tr>
                <td>{{ check_in.username }}</td>
                <td>{{ check_in.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if user_check_ins is none %}
    <h1>Log a Visit</h1>
    <form action="{{ url_for('location', location_id=location.id) }}" method="post">
        <div class="form-group">
            <input class="form-control" name="comment" placeholder="comment">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Check In</button>
        </div>
    </form>
    {% endif %}
{% endblock %}
